{% macro manageSmsApi(credentialSupplied, creditLeft, smsProviderOptions, smsProviders, provider) %}
    {% if credentialSupplied %}
        {{ 'MobileMessaging_Settings_CredentialProvided'|translate(provider) }}
        {{ creditLeft }}
        <br/>
        {{ 'MobileMessaging_Settings_UpdateOrDeleteAccount'|translate("<a id='displayAccountForm'>","</a>","<a id='deleteAccount'>","</a>")|raw }}
    {% else %}
        {{ 'MobileMessaging_Settings_PleaseSignUp'|translate }}
    {% endif %}
    <div id='accountForm' {% if credentialSupplied %}style='display: none;'{% endif %} piwik-form>
        <br/>

        <div piwik-field uicontrol="select" name="smsProviders"
             options="{{ smsProviderOptions|json_encode }}"
             title="{{ 'MobileMessaging_Settings_SMSProvider'|translate|e('html_attr') }}"
             value="{{ provider }}">
        </div>

        <div piwik-field uicontrol="text" name="apiKey"
             title="{{ 'MobileMessaging_Settings_APIKey'|translate|e('html_attr') }}"
             value="">
        </div>

        <div piwik-save-button id='apiAccountSubmit'></div>

        {% for smsProvider, description in smsProviders %}
            <div class='providerDescription' id='{{ smsProvider }}'>
                {{ description|raw }}
            </div>
        {% endfor %}

    </div>
{% endmacro %}