<div field-condition="report_type == 'mobile'">
    {% if phoneNumbers|length == 0 %}
        <div><span class="icon-info"></span> {{ 'MobileMessaging_MobileReport_NoPhoneNumbers'|translate }}</div>
    {% else %}
        <div class='{{ reportType }}'
             piwik-field uicontrol="multiselect"
             name="phoneNumbers"
             ng-model="manageScheduledReport.report.phoneNumbers"
             options="{{ phoneNumbers|json_encode }}"
             inline-help="{{ 'MobileMessaging_MobileReport_AdditionalPhoneNumbers'|translate|e('html_attr') }}"
             title="{{ 'MobileMessaging_PhoneNumbers'|translate|e('html_attr') }}">
        </div>
    {% endif %}

    <a href="{{ linkTo({'module':"MobileMessaging", 'action': 'index', 'updated':null}) }}">{{ 'MobileMessaging_MobileReport_MobileMessagingSettingsLink'|translate }}</a>
</div>

<script>
$(function () {
    resetReportParametersFunctions ['{{ reportType }}'] = function (report) {
        report.phoneNumbers = [];
        report.formatmobile = 'SMS';
    };

    updateReportParametersFunctions['{{ reportType }}'] = function (report) {
    };

    getReportParametersFunctions['{{ reportType }}'] = function (report) {
        var parameters = {};

        // returning [''] when no phone numbers are selected avoids the "please provide a value for 'parameters'" error message
        parameters.phoneNumbers = report.phoneNumbers && report.phoneNumbers.length > 0 ? report.phoneNumbers : [''];

        return parameters;
    };
});
</script>