
<div piwik-field uicontrol="checkbox"
     name="report_email_me"
     introduction="{{ 'ScheduledReports_SendReportTo'|translate|e('html_attr') }}"
     field-condition="report_type == 'email'"
     ng-model="manageScheduledReport.report.emailMe"
     title="{{ 'ScheduledReports_SentToMe'|translate|e('html_attr') }} ({{ currentUserEmail|e('html_attr') }})">
</div>

<div piwik-field uicontrol="textarea"
     field-condition="report_type == 'email'"
     var-type="array"
     ng-model="manageScheduledReport.report.additionalEmails"
     title="{{ 'ScheduledReports_AlsoSendReportToTheseEmails'|translate|e('html_attr') }}">
</div>

<script>

    $(function () {

        resetReportParametersFunctions ['{{ reportType }}'] = function (report) {
            report.displayFormat = '{{ defaultDisplayFormat }}';
            report.emailMe = {{ defaultEmailMe }};
            report.evolutionGraph = {{ defaultEvolutionGraph }};
            report.additionalEmails = '';
        };

        updateReportParametersFunctions['{{ reportType }}'] = function (report) {
            if (report == null) return;
        };

        getReportParametersFunctions['{{ reportType }}'] = function (report) {

            var parameters = {};

            parameters.displayFormat = report.displayFormat;
            parameters.emailMe = report.emailMe;
            parameters.evolutionGraph = report.evolutionGraph;
            parameters.additionalEmails = report.additionalEmails ? report.additionalEmails : [];

            return parameters;
        };

        $('#display_format').change(updateEvolutionGraphParameterVisibility);
    });
</script>