<div class="dataTableFeatures expanded">
    <div class="dataTableFooterNavigation">

        {% set showRelatedReports = (properties.related_reports is not empty) and properties.show_related_reports %}
        {% set showPaginationControl = properties.show_pagination_control and properties.show_limit_control %}

        <div class="dataTableSearchPattern row">
            {% if properties.show_offset_information %}
                <div>
                    <span class="dataTablePages"></span>
                </div>
            {% endif %}

            {% if properties.show_pagination_control %}
                <div>
                    <span class="dataTablePrevious">&lsaquo; {% if clientSideParameters.dataTablePreviousIsFirst is defined %}{{ 'General_First'|translate }}{% else %}{{ 'General_Previous'|translate }}{% endif %} </span>
                    <span class="dataTableNext">{{ 'General_Next'|translate }} &rsaquo;</span>
                </div>
            {% endif %}

            {% if properties.show_footer_icons %}
                <div class="limitSelection {% if not showPaginationControl %} hidden{% endif %}"
                     title="{{ 'General_RowsToDisplay'|translate }}" alt="{{ 'General_RowsToDisplay'|translate }}"></div>
            {% endif %}

            {% if properties.show_search %}
                <div>
                    <label for="widgetSearch_{{ properties.report_id }}" style="display:none;"> {{ 'General_Search'|translate }} {{ visualization.config.translations.label|default('') }}</label>
                    <input id="widgetSearch_{{ properties.report_id }}" type="text" class="searchInput" length="15" />
                    <input type="submit" value="{{ 'General_Search'|translate }}" />
                </div>
            {% endif %}

            {% if showRelatedReports %}
                <div class="datatableRelatedReports">
                    {{ properties.related_reports_title|raw }}
                    <ul style="list-style:none;{% if properties.related_reports|length == 1 %}display:inline-block;{% endif %}}">
                        <li><span href="{{ properties.self_url }}" style="display:none;">{{ properties.title }}</span></li>

                        {% for reportUrl,reportTitle in properties.related_reports %}
                            <li><span href="{{ reportUrl }}">{{ reportTitle }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

    <span class="loadingPiwik" style="display:none;"><img src="plugins/Morpheus/images/loading-blue.gif"/> {{ 'General_LoadingData'|translate }}</span>

    {% if properties.show_footer_message is defined and properties.show_footer_message is not empty %}
        <div class='datatableFooterMessage'>{{ properties.show_footer_message | raw }}</div>
    {% endif %}

</div>

<span class="loadingPiwikBelow" style="display:none;"><img src="plugins/Morpheus/images/loading-blue.gif"/> {{ 'General_LoadingData'|translate }}</span>

<div class="dataTableSpacer"></div>
