{% extends 'admin.twig' %}

{% set title %}{{ 'UsersManager_PersonalSettings'|translate }}{% endset %}

{% block content %}

<div class="ui-confirm" id="confirmPasswordChange">
    <h2>{{ 'UsersManager_ChangePasswordConfirm'|translate }}</h2>
    <input role="yes" type="button" value="{{ 'General_Yes'|translate }}"/>
    <input role="no" type="button" value="{{ 'General_No'|translate }}"/>
</div>

{% embed 'contentBlock.twig' with {'title': title, rate: true} %}
    {% block content %}
        <form id="userSettingsTable">

            <div piwik-field uicontrol="text" name="username"
                 title="{{ 'General_Username'|translate|e('html_attr') }}"
                 value="{{ userLogin }}" disabled="true"
                 inline-help="{{ 'UsersManager_YourUsernameCannotBeChanged'|translate|e('html_attr') }}">
            </div>

            <div piwik-field uicontrol="text" name="email"
                 title="{{ 'UsersManager_Email'|translate|e('html_attr') }}"
                 value="{{ userEmail }}">
            </div>

            <div class="form-group row">
                <div class="input-field col s6">
                    <select name="language" id="language">
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == currentLanguageCode %}selected="selected"{% endif %}
                                    title="{{ language.name }} ({{ language.english_name }})">{{ language.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="language">{{ 'General_Language'|translate }}</label>
                </div>
                <div class="col s6 form-help">
                    <a href="?module=Proxy&amp;action=redirect&amp;url=http://piwik.org/translations/" target="_blank">
                        {{ 'LanguagesManager_AboutPiwikTranslations'|translate }}</a>
                </div>
            </div>

            <div piwik-field uicontrol="select" name="timeformat"
                 title="{{ 'General_TimeFormat'|translate|e('html_attr') }}"
                 value="{{ currentTimeformat }}" options="{{ timeFormats|json_encode }}">
            </div>

            <div class="form-group row">
                <h3 class="col s12">{{ 'UsersManager_ReportToLoadByDefault'|translate }}</h3>

                <div class="col s12 m6">
                    <p>
                        <input id="defaultReportRadioAll" type="radio" value="MultiSites"
                                   name="defaultReport"{% if defaultReport=='MultiSites' %} checked="checked"{% endif %} />
                        <label class="radio" for="defaultReportRadioAll">
                            {{ 'General_AllWebsitesDashboard'|translate }}
                        </label>
                    </p>
                    <p>
                        <input id="defaultReportSpecific" type="radio" value="1"
                               name="defaultReport"{% if defaultReport != 'MultiSites' %} checked="checked"{% endif %} />
                        <label class="radio" for="defaultReportSpecific">
                            {{ 'General_DashboardForASpecificWebsite'|translate }}
                        </label>
                    </p>
                    <div piwik-siteselector
                         show-selected-site="true"
                         class="sites_autocomplete"
                         siteid="{{ defaultReportIdSite }}"
                         sitename="{{ defaultReportSiteName }}"
                         switch-site-on-select="false"
                         show-all-sites-item="false"
                         showselectedsite="true"
                         id="defaultReportSiteSelector"
                    ></div>
                </div>
                <div class="col s12 m6">
                </div>
            </div>

            <div piwik-field uicontrol="radio" name="defaultDate"
                 introduction="{{ 'UsersManager_ReportDateToLoadByDefault'|translate|e('html_attr') }}"
                 value="{{ defaultDate }}" options="{{ availableDefaultDates|json_encode }}">
            </div>
            
            {% if isValidHost is defined and isValidHost %}

                <div piwik-field uicontrol="password" name="password" autocomplete="off"
                     introduction="{{ 'General_ChangePassword'|translate|e('html_attr') }}"
                     value="" inline-help="{{ 'UsersManager_IfYouWouldLikeToChangeThePasswordTypeANewOne'|translate|e('html_attr') }}">
                </div>

                <div piwik-field uicontrol="password" name="passwordBis" autocomplete="off"
                     value="" inline-help="{{ 'UsersManager_TypeYourPasswordAgain'|translate|e('html_attr') }}">
                </div>
            {% endif %}

            {% if isValidHost is not defined or not isValidHost %}
                <div class="alert alert-danger">
                    {{ 'UsersManager_InjectedHostCannotChangePwd'|translate(invalidHost) }}
                    {% if not isSuperUser %}{{ 'UsersManager_EmailYourAdministrator'|translate(invalidHostMailLinkStart,'</a>')|raw }}{% endif %}
                </div>
            {% endif %}

            {% import 'ajaxMacros.twig' as ajax %}
            {{ ajax.errorDiv('ajaxErrorUserSettings') }}
            {{ ajax.loadingDiv('ajaxLoadingUserSettings') }}

            <button class="btn" type="button" id="userSettingsSubmit">{{ 'General_Save'|translate }}</button>

        </form>
    {% endblock %}
{% endembed %}

<div piwik-plugin-settings mode="user"></div>

{% embed 'contentBlock.twig' with {'title': 'UsersManager_ExcludeVisitsViaCookie'|translate } %}
    {% block content %}
        <p>
            {% if ignoreCookieSet %}
                {{ 'UsersManager_YourVisitsAreIgnoredOnDomain'|translate("<strong>", piwikHost, "</strong>")|raw }}
            {% else %}
                {{ 'UsersManager_YourVisitsAreNotIgnored'|translate("<strong>","</strong>")|raw }}
            {% endif %}
        </p>
        <span style="margin-left:20px;">
        <a href='{{ linkTo({'ignoreSalt':ignoreSalt, 'action':'setIgnoreCookie'}) }}#excludeCookie'>&rsaquo; {% if ignoreCookieSet %}{{ 'UsersManager_ClickHereToDeleteTheCookie'|translate }}
            {% else %}{{'UsersManager_ClickHereToSetTheCookieOnDomain'|translate(piwikHost) }}{% endif %}
            <br/>
        </a></span>
    {% endblock %}
{% endembed %}
{% endblock %}
